$radius: 10px;

.cards {
  border: 2px solid #3636d8;
  border-radius: $radius;
}

.img{
  border-radius: $radius $radius 0 0;
}

.status {
  display: inline-block;
  margin-right:10px;
  border-radius: 50%;
}