.active {
  border-bottom: 3px solid #0b5ed7;
  font-weight: bold;
  color: #0b5ed7 !important;

  @media screen and (max-width: 992px) {
    width: 15%;
  }

  @media screen and (max-width: 768px) {
    width: 25%;
  }
}
